<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.consumer.cbms">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.loginandregister.company.RegisterCompanyStep2Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.awesome.camera"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- <activity -->
        <!-- android:name=".ui.activity.WelcomeActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.loginandregister.ChoiceAccountTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.loginandregister.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.loginandregister.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.loginandregister.person.RegisterPersonStep1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.loginandregister.person.RegisterPersonStep2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.loginandregister.person.RegisterPersonStep3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.loginandregister.company.RegisterCompanyStep1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- <activity -->
        <!-- android:name=".ui.activity.loginandregister.company.RegisterCompanyStep2Activity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan|stateHidden" /> -->
        <activity
            android:name=".ui.activity.loginandregister.company.RegisterCompanyStep3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- <service android:name=".services.MainService" /> -->

        <activity
            android:name=".ui.activity.loginandregister.company.InputSNSActivity"
            android:label="@string/title_activity_input_sns"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.loginandregister.SelectCountryActivity"
            android:label="@string/title_activity_select_country"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.loginandregister.AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.loginandregister.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.loginandregister.SelectCityActivity"
            android:label="@string/title_activity_preview"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>